cppp
lib/msdir/

#Temp files
\#*\#

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/
.Rproj.user

# Dependencies
*.d

# Misc
*.log

# Test
tests/regression/output/*
tests/bin/*
paper/test/*.extended
paper/test/*.sat

# Global
GTAGS
GPATH
GRTAGS
GSYMS

# Documentation
docs/*
/cmdline.c
/cmdline.h
/tests/regression/diffs/
/paper/test/4gamete.extended-matrix
/paper/test/4gamete.matrix
/paper/test/4gamete.sat
/paper/test/badboy34.cnf
/paper/test/extract_all_rows.rb
/paper/test/g460.sat
/paper/test/no-species-driven.matrix
/paper/seedms
/src/cmdline.c
/src/cmdline.h
